@import url("https://fonts.googleapis.com/css?family=El+Messiri&display=swap");
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 767px) {
    .container {
      width: 80%; }
      .nav-bar li a {
      display: none;
  }
      .hamburger{
        display: block;
      }


    }
  @media only screen and (min-width:768px) and (max-width:1460px) {
    .container {
      width: 75%;
      max-width: 60rem;
      }
.hamburger{
  display: none;
}

    }






.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  display: table;
  clear: both;
  content: ''; }


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

nav{
  height:50px;
  width:100%;
  background:linear-gradient(to bottom right, #c09, #f42 85%);

}
 .nav-bar li{
  margin:0 auto;

}
.first-content{
  margin-top: 50px;
}
.part-two{
  margin-top: 50px;
}

.nav-link{
  color: rgb(219, 215, 217);


}
.nav-bar li {
  text-align: center;
      font-size: 17px;
}
.nav-bar li a:hover{
  color: grey;
}
.hamburger img{
  height: 30px;
  width: 30px;
}
.btn-main{
  background-color: #DA1B7A;
  border-radius: 5px;
  color: white;

}


.free-trial{
background:rgb(200, 94, 230);
  padding: 30px;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 50px;
margin-bottom: 170px;
width: 45%;
}
.free-trial a{
  color:white;
    font-size: 27px;
}
.free-trial a:hover{
  color: grey;
}
.free-trial p{
  color: white;
}
footer{
  background-color: #00252E;
  width: 100%;
  height: auto;

}

.icons img{
  width: 20px;
  height: 20px;
}
.message{
  display: flex;
}
.message img{
  width: 50px;
  height: 50px;
}
.footer-title{
      color: white;
}
.icon-text{
  color: white;
}
.footer-links{
color: white;


}
.footer-links:hover{
  color:grey;
}
.input-sub h3{
  color: white;
}

.input-sub p{
  color: white;
}
input[type=email]{
  border-radius: 5px;
}



.col-auto {
  max-width: none;
  width: auto; }

.col-mx-auto {
  margin-left: auto;
  margin-right: auto; }

.col-ml-auto {
  margin-left: auto; }

.col-mr-auto {
  margin-right: auto; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.offset-1 {
  margin-left: 4.3333333333%; }

.offset-2 {
  margin-left: 12.6666666667%; }

.offset-3 {
  margin-left: 21%; }

.offset-4 {
  margin-left: 29.3333333333%; }

.offset-5 {
  margin-left: 37.6666666667%; }

.offset-6 {
  margin-left: 46%; }

.offset-7 {
  margin-left: 54.3333333333%; }

.offset-8 {
  margin-left: 62.6666666667%; }

.offset-9 {
  margin-left: 71%; }

.offset-10 {
  margin-left: 79.3333333333%; }

.offset-11 {
  margin-left: 87.6666666667%; }

.col-1-sm {
  width: 4.3333333333%; }

.col-2-sm {
  width: 12.6666666667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.3333333333%; }

.col-5-sm {
  width: 37.6666666667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.3333333333%; }

.col-8-sm {
  width: 62.6666666667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.3333333333%; }

.col-11-sm {
  width: 87.6666666667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1-md {
    width: 4.3333333333%; }

  .col-2-md {
    width: 12.6666666667%; }

  .col-3-md {
    width: 21%; }

  .col-4-md {
    width: 29.3333333333%; }

  .col-5-md {
    width: 37.6666666667%; }

  .col-6-md {
    width: 46%; }

  .col-7-md {
    width: 54.3333333333%; }

  .col-8-md {
    width: 62.6666666667%; }

  .col-9-md {
    width: 71%; }

  .col-10-md {
    width: 79.3333333333%; }

  .col-11-md {
    width: 87.6666666667%; }

  .col-12-md {
    width: 96%; } }
@media only screen and (min-width: 60em) {
  .col-1-lg {
    width: 4.3333333333%; }

  .col-2-lg {
    width: 12.6666666667%; }

  .col-3-lg {
    width: 21%; }

  .col-4-lg {
    width: 29.3333333333%; }

  .col-5-lg {
    width: 37.6666666667%; }

  .col-6-lg {
    width: 46%; }

  .col-7-lg {
    width: 54.3333333333%; }

  .col-8-lg {
    width: 62.6666666667%; }

  .col-9-lg {
    width: 71%; }

  .col-10-lg {
    width: 79.3333333333%; }

  .col-11-lg {
    width: 87.6666666667%; }

  .col-12-lg {
    width: 96%; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.m-auto {
  margin: auto; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mt-auto {
  margin-top: auto; }

.mb-auto {
  margin-bottom: auto; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 0.25rem !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.mt-3 {
  margin-top: 0.75rem !important; }

.mt-4 {
  margin-top: 1rem !important; }

.mt-5 {
  margin-top: 1.25rem !important; }

.ml-0 {
  margin-left: 0 !important; }

.ml-1 {
  margin-left: 0.25rem !important; }

.ml-2 {
  margin-left: 0.5rem !important; }

.ml-3 {
  margin-left: 0.75rem !important; }

.ml-4 {
  margin-left: 1rem !important; }

.ml-5 {
  margin-left: 1.25rem !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 0.25rem !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.mb-3 {
  margin-bottom: 0.75rem !important; }

.mb-4 {
  margin-bottom: 1rem !important; }

.mb-5 {
  margin-bottom: 1.25rem !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-1 {
  margin-right: 0.25rem !important; }

.mr-2 {
  margin-right: 0.5rem !important; }

.mr-3 {
  margin-right: 0.75rem !important; }

.mr-4 {
  margin-right: 1rem !important; }

.mr-5 {
  margin-right: 1.25rem !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-1 {
  padding-top: 0.25rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.pt-3 {
  padding-top: 0.75rem !important; }

.pt-4 {
  padding-top: 1rem !important; }

.pt-5 {
  padding-top: 1.25rem !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-1 {
  padding-left: 0.25rem !important; }

.pl-2 {
  padding-left: 0.5rem !important; }

.pl-3 {
  padding-left: 0.75rem !important; }

.pl-4 {
  padding-left: 1rem !important; }

.pl-5 {
  padding-left: 1.25rem !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-1 {
  padding-bottom: 0.25rem !important; }

.pb-2 {
  padding-bottom: 0.5rem !important; }

.pb-3 {
  padding-bottom: 0.75rem !important; }

.pb-4 {
  padding-bottom: 1rem !important; }

.pb-5 {
  padding-bottom: 1.25rem !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-1 {
  padding-right: 0.25rem !important; }

.pr-2 {
  padding-right: 0.5rem !important; }

.pr-3 {
  padding-right: 0.75rem !important; }

.pr-4 {
  padding-right: 1rem !important; }

.pr-5 {
  padding-right: 1.25rem !important; }

* {
  font-family: "El Messiri", sans-serif;
  color: #333447;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

a {
  text-decoration: none;
  color: #000; }

p {
  font-size: 1.125rem;
  font-weight: 200; }

.light-font {
  font-weight: 300; }

.regular-font {
  font-weight: 400; }

.heavy-font {
  font-weight: 700; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 0.25rem; }
  .img-thumbnail {
    max-width: 100%;
    height: auto; }

/*# sourceMappingURL=main_style.css.map */
