//bg
$rosybrown:#bc8f8f;
$darkblue:#007bff ;
$lightblue:#17a2b8 ;
$mute:#6c757d ;
$yellow:#ffc107 ;
$green:#28a745 ;
$red:#dc3545 ;
$light:#f8f9fa 
$dark:#343a40 ;
$white:#fff ;









.text-rosybrown{
color: $rosybrown !important;
}
.text-darkblue {
  color:$darkblue !important;
}
.text-lightblue{
  color:$lightblue !important;
}
.text-mute{
  color:$mute !important;
}
.text-yellow {
  color:$yellow !important;
}

.text-green {
  color: $green !important;
}

.text-red{
  color: $red !important;
}

.text-light {
  color: $light !important;
}

.text-dark {
  color: $dark!important;
}

.text-white {
  color:$white !important;
}





.bg-rosybrown{
background-color: $rosybrown !important;
}
.bg-darkblue {
  background-color:$darkblue !important;
}
.bg-lightblue{
  background-color:$lightblue !important;
}
.bg-mute{
  background-color:$mute !important;
}
.bg-yellow {
  background-color:$yellow !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-red{
  background-color: $red !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-dark {
  background-color: $dark!important;
}

.bg-white {
  background-color:$white !important;
}








.border-rosybrown{
border-color: $rosybrown !important;
}
.border-darkblue {
  border-color:$darkblue !important;
}
.border-lightblue{
  border-color:$lightblue !important;
}
.border-mute{
  border-color:$mute !important;
}
.border-yellow {
  border-color:$yellow !important;
}

.border-green {
  border-color: $green !important;
}

.border-red{
  border-color: $red !important;
}

.border-light {
  border-color: $light !important;
}

.border-dark {
  border-color: $dark!important;
}

.border-white {
  border-color:$white !important;
}


