$width-col:96%;
$col-total:12;
$gutter:4%;
$screen-small:33.75em;
$screen-med:45em;
$screen-large:60em;
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}



.container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
    
@media only screen and (min-width: $screen-small) {
    width: 80%;
  }

  @media only screen and (min-width: $screen-large) {
    width: 75%;
    max-width: 60rem;
  }
}


.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row{
 @include clearfix;
}
.col-auto {
  max-width: none;
  width: auto;
}
.col-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.col-ml-auto {
  margin-left: auto;
}
.col-mr-auto {
  margin-right: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width-col;
}

@mixin col-unit($span){
    width: $width-col/(12 / $span) + ($gutter * ($span - 12))/12;
}
@mixin offset($span){
    margin-left: $width-col/(12 / $span) + ($gutter * ($span - 12))/12;
}

.offset-1 {@include  offset(1); }
.offset-2 { @include  offset(2); }
.offset-3 { @include  offset(3); }
.offset-4 { @include  offset(4); }
.offset-5 { @include  offset(5); }
.offset-6 { @include  offset(6); }
.offset-7{ @include  offset(7); }
.offset-8 { @include  offset(8); }
.offset-9 { @include  offset(9); }
.offset-10 {@include offset(10); }
.offset-11 {@include  offset(11); }


.col-1-sm {@include col-unit(1); }
.col-2-sm { @include col-unit(2); }
.col-3-sm { @include col-unit(3); }
.col-4-sm { @include col-unit(4); }
.col-5-sm { @include col-unit(5); }
.col-6-sm { @include col-unit(6); }
.col-7-sm { @include col-unit(7); }
.col-8-sm { @include col-unit(8); }
.col-9-sm { @include col-unit(9); }
.col-10-sm {@include col-unit(10); }
.col-11-sm {@include col-unit(11); }
.col-12-sm {@include col-unit(12); }

@media only screen and (min-width: $screen-med) {
  .col-1-md { @include col-unit(1); }
  .col-2-md { @include col-unit(2); }
  .col-3-md {@include col-unit(3); }
  .col-4-md { @include col-unit(4); }
  .col-5-md {@include col-unit(5); }
  .col-6-md {@include col-unit(6); }
  .col-7-md {@include col-unit(7); }
  .col-8-md { @include col-unit(8);}
  .col-9-md { @include col-unit(9); }
  .col-10-md {@include col-unit(10); }
  .col-11-md { @include col-unit(11); }
  .col-12-md { @include col-unit(12);}

  
}
@media only screen and (min-width: $screen-large) {
  .col-1-lg { @include col-unit(1); }
  .col-2-lg { @include col-unit(2); }
  .col-3-lg {@include col-unit(3); }
  .col-4-lg { @include col-unit(4); }
  .col-5-lg {@include col-unit(5); }
  .col-6-lg {@include col-unit(6); }
  .col-7-lg {@include col-unit(7); }
  .col-8-lg { @include col-unit(8);}
  .col-9-lg { @include col-unit(9); }
  .col-10-lg {@include col-unit(10); }
  .col-11-lg { @include col-unit(11); }
  .col-12-lg { @include col-unit(12);}

  
}

